/*---------------------------------------------------------------------------*/
/*                               GENERAL STYLES                              */
/*---------------------------------------------------------------------------*/
.header{
  position: fixed !important;
  top:0;
  left: 0;
  width: 100vw;
  z-index: 100;
}
.custom-navbar{
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4) !important;
  transition: all 2s ease;
}
.custom-navbar-scrolled{
  z-index: 100;
  background-color: rgba(0, 0, 0, 1) !important;
  transition: all 2s ease;
}
.nav-item{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.9rem;
  color: white !important;
}
.custom-nav-item{
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.dropdown-item{
  font-size: 0.9rem;
}
.custom-dropdown-menu{
  background-color: #3F3F3F;
}

.nav-link-custom{
  cursor: pointer;
}


/*-------------------------------------------------------------------*/
/*                            SMARTPHONES                            */
/*-------------------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .header{
    position: fixed !important;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }

}

/*-------------------------------------------------------------------*/
/*                              TABLETS                              */
/*-------------------------------------------------------------------*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header{
    position: fixed !important;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }

}

/*-------------------------------------------------------------------*/
/*                              TABLETS                              */
/*-------------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .header{
    position: fixed !important;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 100;
  }

}

