<app-header
  [imageUrl]="'/assets/img/climate-trends.png'"
  [appName]="'Climate Trends Ecuador'"
  (panelActivate)="isPanelActive($event)"
  (showPanel)="openModal()"/>

<div class="app-content d-flex justify-content-start">
  <div [ngClass]="{'app-panel-active': panelActive, 'app-panel-deactive': !panelActive}">
    <mat-accordion class="dark-mode" [ngClass]="{'app-panel-deactivate': !panelActive}" multi>

      <!-- ------------------------------------------------------------------------------------------ -->
      <!--                           SATELLITE BASED PRECIPITATION PRODUCTS                           -->
      <!-- ------------------------------------------------------------------------------------------ -->
      <app-dropdown-panel [expanded]="true" iconClass="fa-solid fa-satellite" title="Datos satelitales">
        <mat-form-field class="select scale-90" appearance="outline">
          <mat-label>Variable:</mat-label>
          <mat-select [(ngModel)]="selVars" (selectionChange)="updateProduct()">
            <mat-option class="text-90" *ngFor="let variable of vars" [value]="variable">{{ variable }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select scale-90" appearance="outline">
          <mat-label>Producto:</mat-label>
          <mat-select [(ngModel)]="selProd" (selectionChange)="updateTemporal()">
            <mat-option class="text-90" *ngFor="let producto of prod" [value]="producto">{{ producto }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select scale-90" appearance="outline">
          <mat-label>Temporalidad:</mat-label>
          <mat-select [(ngModel)]="selTemp">
            <mat-option class="text-90" *ngFor="let t of temp" [value]="t">{{ t }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="select scale-90" appearance="outline">
          <mat-label>Rango de fechas:</mat-label>
          <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button mat-stroked-button class="dark-mode update-button pt-0" (click)="updateSatelliteProduct()">
          <i class="fa-solid fa-arrows-rotate"></i>
          Actualizar datos
        </button>

        <div class="d-flex justify-content-between pt-3 button-cont">
          <button mat-stroked-button class="dark-mode time-button" (click)="previousTimeControl()">
            <i class="fa-solid fa-backward"></i>
          </button>
          <button mat-stroked-button class="dark-mode time-button" (click)="playTimeControl()">
            <i class="fa-solid fa-play"></i>
          </button>
          <button mat-stroked-button class="dark-mode time-button" (click)="stopTimeControl()">
            <i class="fa-solid fa-stop"></i>
          </button>
          <button mat-stroked-button class="dark-mode time-button" (click)="nextTimeControl()">
            <i class="fa-solid fa-forward"></i>
          </button>
        </div>
      </app-dropdown-panel>


      <!-- ------------------------------------------------------------------------------------------ -->
      <!--                          PROCESS DATA USING PROVINCES AND CANTONS                          -->
      <!-- ------------------------------------------------------------------------------------------ -->
      <app-dropdown-panel iconClass="fa-solid fa-gears" title="Procesamiento">

        <mat-form-field class="select scale-90" appearance="outline">
          <mat-label>Provincia:</mat-label>
          <mat-select [(ngModel)]="selProv" (selectionChange)="updateCanton()">
            <mat-option class="text-90" *ngFor="let p of prov" [value]="p">{{ p }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select scale-90" appearance="outline">
          <mat-label>Canton:</mat-label>
          <mat-select [(ngModel)]="selCant">
            <mat-option class="text-90" *ngFor="let c of cant" [value]="c">{{ c }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex justify-content-between button-cont">
          <button mat-stroked-button class="dark-mode half-button" (click)="displayCanton()">
            <i class="fa-solid fa-arrows-rotate"></i>
            Actualizar
          </button>
          <button mat-stroked-button class="dark-mode half-button" (click)="plotData()">
            <i class="fa-solid fa-chart-column"></i>
            Graficar
          </button>
        </div>
      </app-dropdown-panel>

    </mat-accordion>
  </div>

  <div id="map" #map [ngClass]="{'app-map-partial': panelActive, 'app-map-full': !panelActive}"></div>


  <!-- ------------------------------------------------------------------------------------------ -->
  <!--                                        MODAL PANEL                                         -->
  <!-- ------------------------------------------------------------------------------------------ -->
  <app-modal>

    <!-- HEADER -->
    <div header>
      <div class="container">
        <div class="modal-header-title"> TENDENCIA CLIMÁTICA </div>
        <div class="row modal-header-content">
          <div class="col-sm-12 col-md-4 py-1">
            <b>Variable:</b> {{selVars}}
          </div>
          <div class="col-sm-12 col-md-4 py-1">
            <b>Producto:</b> {{selProd}}
          </div>
          <div class="col-sm-12 col-md-4 py-1">
            <b>Temporalidad:</b> {{selTemp}}
          </div>
          <div class="col-sm-12 col-md-4 py-1">
            <b>Provincia:</b> {{selProv}}
          </div>
          <div class="col-sm-12 col-md-4 py-1">
            <b>Canton:</b> {{selCant}}
          </div>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div body>
      <div class="w-100">
        @if(isReadyData){
          @if(selVars==="Precipitación"){
            <plotly-plot [data]="precPlot.data" [layout]="precPlot.layout"
              [useResizeHandler]="true" [style]="{position: 'relative', height: '400px'}"
              [theme]="'simple_white'">
            </plotly-plot>
          }
        }
        @else {
          <app-loading></app-loading>
        }

      </div>
    </div>

  </app-modal>

</div>

