<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
<link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v6.4.2/css/pro.min.css">

<app-app-template
  #template
  [imageUrl]="'/assets/img/climate-trends.png'"
  [appName]="'CLIMATE TRENDS'"
  [appUrl]="'/apps/climate-trends'"
  (panelActivate)="resizeMap()">

  <div panelContainer class="panel-container">

    <!--------------------------------------------------------------------------------------->
    <!--                          SATELLITE BASED PRODUCT - PANEL                          -->
    <!--------------------------------------------------------------------------------------->
    <app-dropdown iconClass="fa-regular fa-satellite" title="Datos satelitales" [expanded]="true">
      <!-- Variable -->
      <mat-form-field class="select scaled" appearance="outline" style="padding-top: 12px;">
        <mat-label>Variable:</mat-label>
        <mat-select [(ngModel)]="selectedSatelliteVariable" (selectionChange)="updateSatelliteProduct()">
          <mat-option class="scaled-text" *ngFor="let variable of satelliteVariable" [value]="variable">
            {{ variable }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select scaled" appearance="outline">
        <mat-label>Producto:</mat-label>
        <mat-select [(ngModel)]="selectedSatelliteProduct" (selectionChange)="updateSatelliteTemporal()">
          <mat-option class="scaled-text" *ngFor="let product of satelliteProducts" [value]="product">
            {{ product }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select scaled" appearance="outline">
        <mat-label>Temporalidad:</mat-label>
        <mat-select [(ngModel)]="selectedSatelliteTemporal">
          <mat-option class="scaled-text" *ngFor="let temporal of satelliteTemporal" [value]="temporal">
            {{ temporal }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select scaled" appearance="outline">
        <mat-label>Rango de fechas:</mat-label>
        <mat-date-range-input
          [formGroup]="satelliteDateRange"
          [rangePicker]="picker"
          [min]="satelliteMinDate"
          [max]="satelliteMaxDate">
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <button mat-stroked-button class="dark-mode update-button scaled" (click)="updateSatelliteLayer()">
        <i class="fa-solid fa-arrows-rotate"></i>
        Actualizar datos
      </button>
      <br>
    </app-dropdown>


    <!--------------------------------------------------------------------------------------->
    <!--                                  LAYERS - PANEL                                   -->
    <!--------------------------------------------------------------------------------------->
    <app-dropdown iconClass="fa-regular fa-layer-group" title="Capas e información">
            <div class="panel-subtitle pt-1">Capas base</div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="poblados"
          [(ngModel)]="isActiveCitiesLayer" (ngModelChange)="updateOverlayers(isActiveCitiesLayer, citiesLayer)">
        <label class="form-check-label" for="poblados">Ciudades principales</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="provincias"
          [(ngModel)]="isActiveProvinceLayer" (ngModelChange)="updateOverlayers(isActiveProvinceLayer, provinceLayer)">
        <label class="form-check-label" for="provincias">Delimitación provincial</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="cantones"
          [(ngModel)]="isActiveCantonLayer" (ngModelChange)="updateOverlayers(isActiveCantonLayer, cantonLayer)">
        <label class="form-check-label" for="cantones">Delimitación cantonal</label>
      </div>
    </app-dropdown>

    <!--------------------------------------------------------------------------------------->
    <!--                             FILTER AND PLOT - PANEL                               -->
    <!--------------------------------------------------------------------------------------->
    <app-dropdown iconClass="fa-regular fa-filter" title="Filtrar y graficar">
      <mat-form-field class="select scaled" appearance="outline">
        <mat-label>Provincia:</mat-label>
        <mat-select [(ngModel)]="selectedProvince" (selectionChange)="updateCanton()">
          <mat-option
            class="scaled-text"
            *ngFor="let province of provinces" [value]="province">
              {{ province }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="select scaled" appearance="outline">
        <mat-label>Canton:</mat-label>
        <mat-select [(ngModel)]="selectedCanton">
          <mat-option
            class="scaled-text"
            *ngFor="let canton of cantons" [value]="canton">
              {{ canton }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="d-flex justify-content-between select scaled">
        <button mat-stroked-button class="dark-mode half-button" (click)="displayArea()" >
          <i class="fa-solid fa-arrows-rotate"></i>
          Actualizar
        </button>
        <button mat-stroked-button class="dark-mode half-button" (click)="getAreaInfo()">
          <i class="fa-solid fa-chart-column"></i>
          Graficar
        </button>
      </div>
    </app-dropdown>

    <app-dropdown iconClass="fa-regular fa-upload" title="Cargar capa">
      <div class="panel-subtitle">Área geográfica</div>
      <input class="form-control" type="file" id="shpFile" accept=".shp">
      <div style="color:white; font-size:0.7rem; width: 95%; padding-top: 5px">
        El archivo shapefile debe estar proyectado en EPSG:4326 (Coordenadas geográficas)
      </div>
      <div class="d-flex justify-content-between select scaled pt-3">
        <button mat-stroked-button class="dark-mode half-button">
          <i class="fa-solid fa-arrows-rotate"></i>
          Actualizar
        </button>
        <button mat-stroked-button class="dark-mode half-button">
          <i class="fa-solid fa-chart-column"></i>
          Graficar
        </button>
      </div>
    </app-dropdown>


  </div>

  <div mapContainer>
    <div id="map"></div>
    <div class="reprod-container d-flex align-items-center justify-content-between px-3">
      <div class="reprod-title">
        <i class="fa-regular fa-sliders"></i>&nbsp;
        Panel de control y animación
      </div>
      <div>
        <div class="reprod-panel-button d-flex justify-content-between">
          <button mat-stroked-button class="dark-mode reprod-button" (click)="previousTimeControl()">
            <i class="fa-solid fa-backward"></i>
          </button>
          <button mat-stroked-button class="dark-mode reprod-button" (click)="playTimeControl()">
            @if(isPlay){
              <i class="fa-solid fa-pause"></i>
            }@else {
              <i class="fa-solid fa-play"></i>
            }
          </button>
          <button mat-stroked-button class="dark-mode reprod-button" (click)="stopTimeControl()">
            <i class="fa-solid fa-stop"></i>
          </button>
          <button mat-stroked-button class="dark-mode reprod-button" (click)="nextTimeControl()">
            <i class="fa-solid fa-forward"></i>
          </button>
        </div>
      </div>
      <div class="reprod-panel-save d-flex justify-content-between">
        <button mat-stroked-button class="dark-mode reprod-button">
          <i class="fa-regular fa-download"></i>
        </button>
        <button mat-stroked-button class="dark-mode reprod-button">
          <i class="fa-regular fa-camera-viewfinder"></i>
        </button>
        <button mat-stroked-button class="dark-mode reprod-button">
          <i class="fa-regular fa-video"></i>
        </button>
      </div>
    </div>
  </div>

  <div dataModalHeader>
    <div class="container">
      @if(plotClass === "satellite"){
        <div class="modal-header-title"> MONITOREO SATELITAL </div>
        <div class="row modal-header-content">
          <div class="col-sm-12 col-md-4 py-1">
            <b>Variable:</b> {{selectedSatelliteVariable.toUpperCase()}}
          </div>
          <div class="col-sm-12 col-md-4 py-1">
            <b>Producto:</b> {{selectedSatelliteProduct.toUpperCase()}}
          </div>
          <div class="col-sm-12 col-md-4 py-1">
            <b>Temporalidad:</b> {{selectedSatelliteTemporal.toUpperCase()}}
          </div>
          @if(isPointPlotClass){
            <div class="col-sm-12 col-md-4 py-1">
              <b>Latitud:</b> {{latC}}
            </div>
            <div class="col-sm-12 col-md-4 py-1">
              <b>Longitud:</b> {{lonC}}
            </div>
          } @else {
            <div class="col-sm-12 col-md-4 py-1">
              <b>Provincia:</b> {{selectedProvince}}
            </div>
            <div class="col-sm-12 col-md-4 py-1">
              <b>Canton:</b> {{selectedCanton}}
            </div>
          }
        </div>
      }
    </div>
  </div>

  <div dataModalBody>
    <div class="w-100">
      @if(isReadyData){
        @if(plotClass==="satellite"){
          @if(selectedSatelliteVariable==="Precipitación"){
            <plotly-plot [data]="precPlot.data" [layout]="precPlot.layout"
              [useResizeHandler]="true" [style]="{position: 'relative', height: '400px'}"
              [theme]="'simple_white'">
            </plotly-plot>
          }
        }

      }
      @else {
        <app-loading></app-loading>
      }
    </div>
  </div>


</app-app-template>
