.home-container{
  padding: 0;
  margin: 0;
}

.home-login-container{
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  background-position: center;
}

.home-about-container{
  width: 100vw;
  height: 100vh;
}
