<div>

  <app-header (outIsAuth)="retrieveIsAuth($event)" (clickLogin)="showLoginPanel($event)" />

  <div class="position-absolute top-0 start-0 home-body">

    <!--------------------------------------------------------------------------->
    <!--                              HOME PANEL                               -->
    <!--------------------------------------------------------------------------->
    <div class="position-relative home-container">
      <div class="home-background">
        <div class="container d-flex align-items-center h-100">
          <div class="w-100 px-2">
            <div class="col-12 d-flex justify-content-center">
              <div class="home-content">
                @if (loginPanelActive) {
                  <router-outlet/>
                }@else {
                  <div class="home-title text-center fade-in-1">INAMHI GEOGLOWS</div>
                  <br>
                  <div class="home-description text-center fade-in-2">
                    Accede, visualiza y descarga
                    <span class="highlight">pronósticos hidrometeorológicos</span> e
                    <span class="highlight">información satelital</span>
                    en Ecuador.
                  </div>
                  <br><br>
                  <div class="d-flex justify-content-center fade-in-2">
                    <button
                      (click)="scrollToElement()"
                      mat-flat-button color="primary"
                      class="home-btn home-btn-primary">
                        <fa-icon [icon]="infoIcon"></fa-icon>
                        Conoce más
                    </button>
                    <button
                      mat-flat-button
                      class="home-btn home-btn-secondary">
                        <fa-icon [icon]="infoGitHub"></fa-icon>
                        GitHub
                    </button>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>

        <div class="position-absolute bottom-0 d-flex align-items-end fade-in-3">
          <div class="d-flex justify-content-center pb-4">
            <img src="assets/img/all-white-logos-h.webp" class="servir-logo-h">
            <img src="assets/img/all-white-logos-v.webp" class="servir-logo-v">
          </div>
        </div>
      </div>
    </div>


    <!--------------------------------------------------------------------------->
    <!--                            FEATURE PANEL                              -->
    <!--------------------------------------------------------------------------->
    <div #about id="about" class="container position-relative py-5">
      <div class="row pt-4">
        <slidein>
          <div class="home-subtitle text-center pt-5">
            Mejorando las capacidades de pronóstico y monitoreo
          </div>
          <div class="d-flex justify-content-center">
            <div class="home-content home-feature-text text-center pt-2 pb-5">
              La plataforma INAMHI GEOGLOWS brinda un conjunto de características,
              servicios y herramientas que mejoran las capacidad de pronóstico y
              monitoreo hidrometeorológico a escala nacional.
            </div>
          </div>
        </slidein>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 d-flex flex-row mb-2 px-4 pb-5">
          <div class="row">
            <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
              <slidein>
                <div class="d-flex justify-content-center">
                  <img src="assets/img/apps-logo.webp" class="feature-img">
                </div>
              </slidein>
            </div>
            <div class="col-sm-12 col-lg-9">
              <slidein>
                <div class="home-feature-title">Aplicaciones</div>
                <div class="home-feature-text">
                  Aplicaciones personalizadas para la visualización, seguimiento y
                  pronóstico de variables hidrometeorológicas.
                </div>
              </slidein>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-row mb-2 px-4 pb-5">
          <div class="row">
            <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
              <slidein>
                <div class="d-flex justify-content-center">
                  <img src="assets/img/database-logo.webp" class="feature-img">
                </div>
              </slidein>
            </div>
            <div class="col-sm-12 col-lg-9">
              <slidein>
                <div class="home-feature-title">Acceso</div>
                <div class="home-feature-text">
                  Acceso cómodo y sencillo de los datos hidrometeorologicos
                  a través de REST APIs y geoservicios.
                </div>
              </slidein>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 d-flex flex-row mb-2 px-4 pb-5">
          <div class="row">
            <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
              <slidein>
                <div class="d-flex justify-content-center">
                  <img src="assets/img/data-logo.webp" class="feature-img">
                </div>
              </slidein>
            </div>
            <div class="col-sm-12 col-lg-9">
              <slidein>
                <div class="home-feature-title">Datos históricos</div>
                <div class="home-feature-text">
                  Los datos presentados corresponden a observaciones
                  hidrometeorológicas históricas del Ecuador.
                </div>
              </slidein>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex flex-row mb-2 px-4 pb-5">
          <div class="row">
            <div class="col-sm-12 col-lg-3 d-flex justify-content-center">
              <slidein>
                <div class="d-flex justify-content-center">
                  <img src="assets/img/satelite-logo.webp" class="feature-img">
                </div>
              </slidein>
            </div>
            <div class="col-sm-12 col-lg-9">
              <slidein>
                <div class="home-feature-title">Monitoreo satelital</div>
                <div class="home-feature-text">
                  Compendio de hidroestimadores satelitales,
                  modelos meteorológicos e hidrológicos globales.
                </div>
              </slidein>
            </div>
          </div>
        </div>
      </div>
  </div>

  <slidein> <div class="container"><hr></div></slidein>

  <div class="container position-relative py-5">
    <div class="row pb-3">
      <slidein>
        <div class="home-subtitle text-center">
          Gestión de riesgos hidrometeorológicos
        </div>
      </slidein>
      <slidein>
        <div class="d-flex justify-content-center">
          <div class="home-content home-feature-text text-center pt-2 pb-5">
            Como tecnología geoespacial para el pronóstico de inundaciones,
            facilitará la implementación de medidas de mitigación y adaptación
            ante eventos hidrometeorológicos extremos como el fenómeno de El Niño.
          </div>
        </div>
      </slidein>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6 p-2">
        <slidein>
          <div class="d-flex justify-content-center w-100">
            <iframe
                width="90%"
                height="300"
                src="https://www.youtube.com/embed/mWj-7GcvXrA"
                frameborder="0"
                allowfullscreen></iframe>
          </div>
        </slidein>
      </div>

      <div class="col-sm-12 col-md-6 p-2">
        <slidein>
          <div class="d-flex justify-content-center w-100">
            <iframe
                width="90%"
                height="300"
                src="https://www.youtube.com/embed/7jawihX2rjc"
                frameborder="0"
                allowfullscreen></iframe>
          </div>
        </slidein>
      </div>
    </div>
  </div>



    <!--------------------------------------------------------------------------->
    <!--                            FEATURE PANEL                              -->
    <!--------------------------------------------------------------------------->
    <div class="position-relative home-about-container">
      <div class="home-about-background">
        <div class="container d-flex align-items-center h-100">
          <div class="">
            <div class="about-description text-center">
              <br><br>
              La implementación y personalización de la plataforma INAMHI GEOGLOWS
              ha sido posible con la colaboración del Instituto Nacional de
              Meteorología e Hidrología del Ecuador (INAMHI), Fundación EcoCiencia
              y el Centro Internacional de Agricultura Tropical (CIAT),
              mediante el programa SERVIR-Amazonia.
              <br><br>
              SERVIR-Amazonia forma parte de SERVIR Global, una iniciativa de desarrollo
              conjunto entre la Administración Nacional de Aeronáutica y del Espacio (NASA)
              y la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID).
              <br><br>
            </div>
            <div class="d-flex justify-content-center pb-4">
              <img src="assets/img/all-white-logos-h.webp" class="servir-logo-h2">
              <img src="assets/img/all-white-logos-v.webp" class="servir-logo-v2">
            </div>
          </div>
        </div>
      </div>
    </div>





</div>
