<div>
  <app-header/>

  <div class="position-absolute top-0 start-0 home-container">

    <!-- LOGIN UI -->
    <div class="position-relative home-login-container">
      <div class="home-login-background">
        <div class="container d-flex align-items-center h-100">
          <div class="row py-5">
            <div class="col-md-6 px-5 d-flex align-items-center">
              <div>
                <div class="home-subtitle">Bienvenidos a</div>
                <div class="home-title">INAMHI GEOGloWS</div>
                <br>
                <div class="home-title-description">
                  Una plataforma para el acceso, visualización, seguimiento y descarga de pronósticos
                  hidrometeorológicos e información satelital en Ecuador.
                </div>
                <br>
                <button mat-flat-button class="auth-button" (click)="scrollToElement()">Conoce más</button>
              </div>
            </div>
            <div class="home-auth col-md-6">
              <br>
              <router-outlet/>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- ABOUT -->
    <div #about class="position-relative home-about-container">
      <div class="home-about-background">
        <div class="container d-flex align-items-center h-100">
          <div class="py-5 px-5">
            <div class="px-5 about-description text-center">
              <br><br><br>
              La implementación y personalización de la plataforma INAMHI GEOGLOWS ha sido posible con la colaboración del
              Instituto Nacional de Meteorología e Hidrología del Ecuador (INAMHI), Fundación EcoCiencia y el Centro Internacional
              de Agricultura Tropical (CIAT), mediante el programa SERVIR-Amazonia.
              <br><br>
              SERVIR-Amazonia forma parte de SERVIR Global, una iniciativa de desarrollo conjunto entre la Administración Nacional
              de Aeronáutica y del Espacio (NASA) y la Agencia de los Estados Unidos para el Desarrollo Internacional (USAID).
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="position-relative home-content-container">
      <div class="container px-5 py-3">
        <div class="row py-4">
          <div class="col-md-6 d-flex flex-row mb-2 px-4">
            <img src="../../../assets/img/apps-logo.png" width="100px" height="100px">
            <div class="px-4">
              <div class="home-content-subtitle">Aplicaciones</div>
              <div class="text-justify">
                La plataforma INAMHI GEOGLOWS alberga aplicaciones para la visualización, seguimiento y
                pronóstico de variables hidrometeorológicas.
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-row mb-2 px-4">
            <img src="../../../assets/img/database-logo.png" width="100px" height="100px">
            <div class="px-4">
              <div class="home-content-subtitle">Acceso</div>
              <p class="text-justify">
                INAMHI GEOGLOWS proporciona un acceso cómodo y sencillo de los datos hidrometeorologicos
                a través de REST APIs y geoservicios.
              </p>
            </div>
          </div>
        </div>
        <div class="row py-4">
          <div class="col-md-6 d-flex flex-row mb-2 px-4">
            <img src="../../../assets/img/data-logo.png" width="100px" height="100px">
            <div class="px-4">
              <div class="home-content-subtitle">Datos históricos</div>
              <div class="text-justify">
                Los datos presentados en la plataforma INAMHI GEOGLOWS corresponden a observaciones
                hidrometeorológicas históricas del Ecuador.
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-row mb-2 px-4">
            <img src="../../../assets/img/satelite-logo.png" width="100px" height="100px">
            <div class="px-4">
              <div class="home-content-subtitle">Monitoreo satelital</div>
              <div class="text-justify">
                La plataforma INAMHI GEOGLOWS cuenta con un compendio de hidroestimadores satelitales,
                modelos meteorologicos e hidrológicos globales.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="position-relative home-content-container">
      <div class="container px-5 py-3">
        <div class="row py-3">
          <div class="col-md-6 d-flex align-items-center">
            <div>
              <div class="home-content-title ps-3 pe-5 pb-2">
                INAMHI GEOGLOWS
              </div>
              <div class="home-content-text1 ps-3 pe-5">
                Como tecnología geoespacial para el pronóstico de inundaciones,
                facilitará la implementación de medidas de mitigación y adaptación
                ante eventos hidrometeorológicos extremos como el fenómeno de El Niño.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div id="carouselVideo" class="carousel carousel-dark slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex justify-content-center w-100">
                    <iframe width="520" height="315" src="https://www.youtube.com/embed/DbAwEM1ljR0" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center w-100">
                    <iframe width="520" height="315" src="https://www.youtube.com/embed/mWj-7GcvXrA" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex justify-content-center w-100">
                    <iframe width="520" height="315" src="https://www.youtube.com/embed/7jawihX2rjc" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideo" data-bs-slide="prev" style="width: 35px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselVideo" data-bs-slide="next" style="width: 35px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

  </div>
</div>

