<div>
  <app-header (outIsAuth)="retrieveIsAuth($event)" (clickLogin)="showLoginPanel($event)" />
  <div class="position-relative home-container">
    <div class="home-background">
      <div class="container d-flex align-items-center h-100">
        <div class="w-100 px-2">
          <div class="col-12 d-flex justify-content-center">
            <div class="home-content">

              <div class="d-flex justify-content-end">
                <div class="auth-component">
                  <div class="auth-title d-flex justify-content-center">
                    <div>INICIAR SESIÓN</div>
                  </div>
                  <br>
                  <mat-form-field appearance="outline" class="dark-mode auth-component">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput
                           placeholder="usuario@institucion.org"
                           [formControl]="email"
                           (blur)="updateErrorMessageEmail()"
                           required>
                    @if (email.invalid) {
                      <mat-error>{{errorMessageEmail}}</mat-error>
                    }
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="outline" class="dark-mode auth-component">
                    <mat-label>Contraseña</mat-label>
                    <input
                      matInput
                      [formControl]="password"
                      [type]="hide ? 'password' : 'text'"
                      required>
                    @if (password.invalid) {
                      <mat-error>Debe ingresar una Contraseña</mat-error>
                    }
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <br>
                  <div class="d-flex justify-content-between">
                    <button mat-stroked-button class="dark-mode auth-button">Registrarse</button>
                    <button mat-flat-button class="auth-button" (click)="login()">Iniciar sesión</button>
                  </div>
                  <br>
                  <div class="auth-text d-flex justify-content-end">
                    <div style="color: white;">Olvidó su contraseña?</div>
                  </div>

                  @if (authErr) {
                    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center alert-fixed" role="alert">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                      <div>
                        Usuario o contraseña incorrectos. <br> Intente de nuevo.
                      </div>
                    </div>
                  }

                </div>
              </div>



            </div>
          </div>
        </div>
      </div>

      <div class="position-absolute bottom-0 d-flex align-items-end fade-in-3">
        <div class="d-flex justify-content-center pb-4">
          <img src="assets/img/all-white-logos-h.webp" class="servir-logo-h">
          <img src="assets/img/all-white-logos-v.webp" class="servir-logo-v">
        </div>
      </div>
    </div>
  </div>

</div>
